<div class="skills owl-carousel">
  <div class="container group">

    <h1>Web Applications</h1>

    <p>
      Since 2009 I have been developing web applications. I've discovered my strengths, weaknesses, what I like and what I don't like. Every few months I aim to learn something new. It's been an amazing journey.
    </p>

    <div class="cards">

      <div class="skill">
        <div>
          <div class="icon" style="background-color:#000;">
            <img src="/dist/images/icons/react.png" alt="React" />
          </div>
          <h2>React</h2>
          <p>Applications powered by stateless components and Redux state machines.</p>
        </div>
      </div>
      <div class="skill">
        <div>
          <div class="icon" style="background-color:#9c120f;">
            <img src="/dist/images/icons/angularjs.png" alt="AngularJS" />
          </div>
          <h2>AngularJS</h2>
          <p>Powerful and advanced front end technologies and best practices.</p>
        </div>
      </div>
      <div class="skill">
        <div>
          <div class="icon" style="background-color:#99be4f;">
            <img src="/dist/images/icons/node.png" height="84" alt="NodeJS" />
          </div>
          <h2>NodeJS</h2>
          <p>NPM &amp; NodeJS development for applications and custom tasks.</p>
        </div>
      </div>
      <div class="skill">
        <div>
          <div class="icon" style="background-color:#5e73b5;">
            <img src="/dist/images/icons/php.png" alt="PHP" />
          </div>
          <h2>PHP</h2>
          <p>Frameworks, such as Laravel, to empower a capable MVC architecture.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container group">
    <h1>Mobile Applications</h1>

    <p>
      Atwoods Law states that if something can be written in Javascript, it will be written in Javascript. Tools like React Native and Redux has let me transition from web devleopment into mobile development. Over the years I have worked natively between Android and iOS, but my strengths can finally surface with new tools the community has introduced.
    </p>

    <div class="cards">
      <div class="skill">
        <div>
          <div class="icon" style="background-color:#000;">
            <img src="/dist/images/icons/react.png" alt="React Native" />
          </div>
          <h2>React Native</h2>
          <p>Rapid and flexible development with React Native.</p>
        </div>
      </div>

      <div class="skill">
        <div>
          <div class="icon" style="background-color:#489ff2;">
            <img src="/dist/images/icons/metro.png" alt="Win Metro" />
          </div>
          <h2>Metro</h2>
          <p>Windows Phone and Windows Tablet development</p>
        </div>
      </div>
      <div class="skill">
        <div>
          <div class="icon" style="background-color:#9cc00f;">
            <img src="/dist/images/icons/android.png" height="84" alt="Android" />
          </div>
          <h2>Android</h2>
          <p>Android development, from games to data-rich applications.</p>
        </div>
      </div>
      <div class="skill">
        <div>
          <div class="icon" style="background-color:#000000;">
            <img src="/dist/images/icons/ios.png" alt="iOS" />
          </div>
          <h2>iOS</h2>
          <p>iPhone and iPad development, from games to data-rich applications.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container group">
    <h1>Websites &amp; eCommerce</h1>

    <p>
      Since 2006 I have been working with websites. It started with the run-of-the-mill HTML, CSS, and Javascript to produce the basics. Over the years this has grown into devleping custom web solutions for companies, products, and brands that need a space on the internet.
    </p>

    <div class="cards">
      <div class="skill">
        <div>
          <div class="icon" style="background-color:#e04f14;">
            <img src="/dist/images/icons/html5.svg" height="84" alt="HTML5" />
          </div>
          <h2>HTML5/CSS3/JS</h2>
          <p>Modern UI/UX, with a deep understanding of SASS and DOM manipulation and data binding.</p>
        </div>
      </div>

      <div class="skill">
        <div>
          <div class="icon" style="background-color:#146ec0;">
            <img src="/dist/images/icons/wordpress.png" alt="WordPress" />
          </div>
          <h2>Wordpress</h2>
          <p>Seamless content management. Keep your site up to date without ever touching code.</p>
        </div>
      </div>

      <div class="skill">
        <div>
          <div class="icon" style="background-color:#a9cc62;">
            <img src="/dist/images/icons/shopify.png" height="84" alt="Shopify" />
          </div>
          <h2>Shopify</h2>
          <p>For stores with a simple production collection and simple business needs</p>
        </div>
      </div>

      <div class="skill">
        <div>
          <div class="icon" style="background-color:#f07c00;">
            <img src="/dist/images/icons/magento.svg" alt="Magento" />
          </div>
          <h2>Magento</h2>
          <p>For large stores or store owners with specific business needs.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container activity">
  <h1>Open Source Activity</h1>
  <div class="github-info">
    <div class="bio">
      <span class="octicon octicon-mark-github"></span>
      <a href="https://github.com/ajwhite"
        target="_blank"
        title="Projects by Atticus White on GitHub">@ajwhite</a>
    </div>
    <div class="stats">
      <span class="repos">110 <span class="octicon octicon-repo"></span></span>
      <span class="follows">70 <span class="octicon octicon-organization"></span></span>
      <span class="stars">387 <span class="octicon octicon-star"></span></span>
    </div>
  </div>
  <p>
    We wouldn't see the innovation today if it wasn't for Open Source. I contribute to the community both within my work
    at <a href="https://robinpowered.com">Robin Powered</a> and in my personal time as a hobby.
  </p>
  <div class="row">
    <div class="activity-column">
      <h2>
        <span class="octicon octicon-repo"></span>
        Latest Projects
      </h2>
      <div id="github-projects" class="activity-feed"></div>
    </div>
    <div class="activity-column">
      <h2>
        <span class="octicon octicon-rss"></span>
        Recent Activity
      </h2>
      <div id="github-activity" class="activity-feed"></div>
    </div>
  </div>
</div>
