<div class="featured-portfolio-items">
  <div class="container">
    <div class="portfolio-row alt">
      <div class="info">
        <h1>Robin Rooms</h1>
        <h2>Room schedules, right at your door</h2>
        <p>
          I build the iPad and Android tablet applications. Robin customers mount these tablets outside of their conference rooms as interactive digital signage indicating the current status and daily schedule for the room. Coworkers can start new meetings or check into existing meetings on their way into the room. If the room is busy, they can also find another space from the tablet.
        </p>
        <a href="https://robinpowered.com/features/room-display" target="_blank">View Project</a>
      </div>
      <div class="preview">
        <img src="/dist/images/projects/robin/rooms.png" alt="Robin Rooms tablet" />
      </div>
    </div>
    <div class="portfolio-row">
      <div class="info">
        <h1>Robin Dashboard</h1>
        <h2>An overview and management portal for the spaces in your office</h2>
        <p>
          I build the Angular web application that customers use to manage their Robin powered offices. This ranages from a dashboard to browse the activity in the office to a management portal for managing spaces, calendars, and other resources.
        </p>
        <a href="https://robinpowered.com" target="_blank">View Project</a>
      </div>
      <div class="preview">
        {% include web-preview.html image="/dist/images/projects/robin/dashboard.jpg" alt="Robin Dashboard" %}
      </div>
    </div>
    <div class="portfolio-row alt">
      <div class="info">
        <h1>TweetDrive</h1>
        <h2>A game playe during the 2011 NFL Playoffs on NBCSports</h2>
        <p>
          TweetDrive was a trivia game hosted on NBCSports.com during the 2011 NFL playoffs. I built the web application that allows users to engage in the game through either twitter or the web application itself. A series of questions are posted every quarter of the game and users can response with their predictions - "How many yards will Brady throw in the first quarter". The speed in which a user responds along with the accuracy of their prediction awards them pointage in terms of yards (out of 100). Every 100 yards is a touchdown. The players with the highest touchdowns (total yards) wins.
        </p>
      </div>
      <div class="preview">
        {% include web-preview.html image="/dist/images/projects/tweetdrive/tweetdrive1.jpg" alt="TweetDrive" %}
      </div>
    </div>
    <div class="more-items">
      <a href="#view-more-portfolio" id="view-more-portfolio">See more projects</a>
    </div>
  </div>
</div>
<div class="portfolio-items">
  {% for featuredProject in page.featured_projects %}
    {% cycle 'add row' : '<div class="portfolio-row">', nil, nil, nil, nil %}
    {% for project in site.projects %}
      {% if featuredProject == project.slug %}
      <div class="item">
        <div class="image">
          <img src="/dist/images/blank.png" data-original="/dist/images/{{project.icon}}" alt="{{ project.title }}" />
        </div>
        <div class="overlay">
          <div class="vertical-wrap">
            <div class="inner">
              <h3>{{ project.title}}</h3>
              <span class="client">{{ project.client }}</span>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    {% cycle 'end row' : nil, nil, nil, nil, '</div>' %}
  {% endfor %}
  {% cycle 'end row' : nil, '</div>', '</div>', '</div>', '</div>' %}
</div>
