<div class="featured-portfolio-items">
  <div class="container">
    <div class="portfolio-row">
      <div class="preview">
        <img src="https://robinpowered.com/img/robin-android-ios-tablet-phone.png" />
      </div>
      <div class="info">
        <h1>Robin Rooms</h1>
        <h2>Room schedules, right at your door</h2>
        <p>
          I built the iPad and Android tablet applications. Customers mount these tablets outside of their conference rooms as interactive digital signage indicating the current status and daily schedule for the room.
        </p>
      </div>
    </div>
    <div class="portfolio-row">
      <div class="info">
        <h1>Robin Dashboard</h1>
        <h2>An overview and management portal for the spaces in your office</h2>
        <p>
          I built the iPad and Anroid tablet applications. Customers mount these tablets outside of their conference rooms as interactive digital signage indicating the current status and daily schedule for the room.
        </p>
      </div>
      <div class="preview">
        {% include web-preview.html image="/dist/images/projects/robin/dashboard.jpg" %}
      </div>
    </div>
    <div class="portfolio-row">
      <div class="preview">
        {% include web-preview.html image="/dist/images/projects/tweetdrive/tweetdrive1.jpg" %}
      </div>
      <div class="info">
        <h1>TweetDrive</h1>
        <h2>A game playe during the 2011 NFL Playoffs on NBCSports</h2>
        <p>
          I built the iPad and Anroid tablet applications. Customers mount these tablets outside of their conference rooms as interactive digital signage indicating the current status and daily schedule for the room.
        </p>
      </div>
    </div>
  </div>
</div>
