---
layout: archive
---
<a href="/blog">Back to all</a>
{% for post in site.posts %}
  {% for tag in post.tags %}
    {% if tag == page.tag %}
      {% if post.tags.size > 0 %}
      {% assign postTag = post.tags[0] %}
      {% assign postTag = site.data.tags[postTag] %}
      {% else %}
      {% assign postTag = site.data.tags.deafult %}
      {% endif %}
      <article>
        {% if postTag.icon %}
        <section class="banner"
          style="background-image: url(/dist/images/{{ postTag.icon }}); background-color: {{postTag.color.background}};">
        </section>
        {% endif %}
        <section class="content text">
          <h2>
            <a title="{{post.title}}" href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
          </h2>
          <div class="post-meta">
            {% include posts/date.html %}
            {% if post.tags.size > 0 %}
              {% include posts/tags.html %}
            {% endif %}
          </div>
          <div class="excerpt">
            <p>{{ post.excerpt }}</p>
          </div>
        </section>
      </article>
    {% endif %}
  {% endfor %}
{% endfor %}
