.blog {
  .post-meta {
    i {
      margin-right: 5px;
    }
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.blog.post {

  .post-header {
    padding: 100px 0 40px;

    .post-title {
      font-size: 200%;
      text-align: center;
    }

    .tag-icon {
      display: block;
      margin: 40px auto;
      max-height: 160px;
    }

    .post-meta {
      font-weight: 100;
      line-height: 30px;
    }
  }


  .post-content {
    padding: 40px 0;
    > *:not(.highlight) {
      .container;
    }

    h1 {
      margin-top: 50px;
    }

    h2 {
      font-size: 28px;
    }

    h2, h3, h4, h5 {
      margin-top: 30px;
    }

    p, ul, ol {
      line-height: 26px;
    }

    iframe {
      display: block;
    }

    code {
      padding: 2px 4px;
      border-radius: 2px;
      background-color: #ececec;
    }

    .highlight code {
      background-color: inherit;
      padding: 0;
      border-radius: 0;
    }

    img {
      max-width: 80%;
      display: block;
      margin: 20px auto;
      max-height: 400px;
    }

    ul, ol {
      li {
        margin-left: 20px;
      }
    }

    blockquote {
      padding: 40px;
      font-size: 38px;
      font-style: italic;
      font-weight: 100;
      text-align: center;
    }

    .highlight {
      background-color: #000;
      margin: 20px 0;
      pre {
        .container;
      }
    }
  }
}


.blog.archive {
  padding-top: 120px;
  .post-sidebar {
    .make-md-column(2.5);

    @media @mediumAndUp {
      text-align: right;
    }
    section {
      .make-xs-column(6);
      .make-md-column(12);
      margin-bottom: 40px;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        margin-bottom: 10px;
      }
    }
  }

  .post-list {
    .make-md-column(9.5);
    h1 {
      margin-top: 0;
    }
    article {
      margin: 0 0 40px 0;
      .banner {
        height: 100px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto 75%;
      }
      .content {
        padding: 20px;
        background-color: #fff;
        border: 1px solid #eee;
        position: relative;
      }
      h2 {
        margin: 10px 0;
      }
      .post-meta {
        font-size: 14px;
        line-height: 22px;
      }
      .excerpt p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
