section.landing {
  height: 960px;
  padding: 60px 0;


  .content {
    width: 80%;
    margin: 120px auto;
    text-align: center;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

}

.site-header {
  background-color: transparent;
  display: none;

  a {
    color: @textColor;
  }
}
