body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(106, 106, 106);
}

a {
  color: #23abf1;
}

h1 {
  font-size: 42px;
}

h2 {

}

h3 {
  font-size: 125%;
  margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

p {
  font-size: 20px;
  line-height: 32px;
}

.site-header {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;


  .site-title {
    .make-xs-column(3);
  }
  .site-nav {
    .make-xs-column(6);
  }
  .off-links {
    .make-xs-column(3);
  }
}
