---
layout: default
featured_projects:
- tweetdrive
- microsoft-dreamhome
- disney-dreamhome
- robin
- universal-music-group
- mmodaq
- yankee-lobster-company
- boston-seafood-festival
- bodimojo
- hey-nelly
- forsake
- whitespace
- dixie-elixirs
- bizslate
- pickle
- georgie-porgie
- dixie-botanicals
- park-co
- which-test-won
- recruitics
- norwood
- truveris
- mmj-america
- tech-steel
- reunion-pointe
- industry-tap
- mslfund
- christmas-live-wallpaper
- zillboard
---

<div class="home">

  <section class="me active">
    <div class="container">
      <h1>Hey, I'm Atticus.</h1>

      <h2 class="typed">Let's make <span></span></h2>

      <div class="circles">
        <div class="skills">
          <div class="circle">
            <span>Love to code</span>
          </div>
          <h2>My Skills</h2>
        </div>
        <div class="me">
          <div class="circle">
            <span>
              <a href="https://www.linkedin.com/in/atticuswhite"
                title="Connect with Atticus on LinkedIn"
                target="_blank"
                class="ln"><i class="fa fa-linkedin"></i></a>
              <a href="https://twitter.com/atticoos"
                title="Follow Atticus on Twitter"
                target="_blank"
                class="tw"><i class="fa fa-twitter"></i></a>
              <a href="https://github.com/ajwhite"
                title="See open source work by Atticus on Github"
                target="_bank"
                class="gh"><i class="fa fa-github"></i></a>
            </span>
          </div>
          <h2>Me</h2>
        </div>
        <div class="work">
          <div class="circle">
            <span>Can make cool things</span>
          </div>
          <h2>My Work</h2>
        </div>
      </div>

      <p>
        I'm a Boston based software developer. Lately I've been involved in many AngularJS projects, coming from experience as a full stack developer, mainly PHP and NodeJS, on platforms such as Laravel and Express. During my off hours I am also a WordPress developer and am always interested in working on WordPress solutions. Feel free to reach out.
      </p>
    </div>
  </section>

  <section class="skills collapsed">
    <div class="container">
      <h1 class="title">What I Do</h1>
      {% include home/skills.html %}
      </div>
    </div>

    <a href="#more-skills" id="more-skills" class="more">More</a>
  </section>

  <section id="portfolio" class="background dots">
    <h1>Featured Work</h1>
  </section>

  <section class="projects">
    {% include home/work.html %}
  </section>
  <section id="labs" class="background wave">
    <h1>Labs &amp; Open Source</h1>
  </section>
  <section class="labs projects">
    {% include home/open-source.html %}
  </section>

  <section id="contact" class="background map">
    <div id="contact-map"></div>
    <h1>Get in touch</h1>
  </section>
  <section class="contact">
    <div class="container">
      <div class="row">
        <form>
          <h2>Shoot me a message</h2>
          <div class="form-control">
            <div class="fluid-label">
              <input type="text"
                placeholder="Your name"
                required />
              <label>Your name</label>
            </div>
          </div>
          <div class="form-control">
            <div class="fluid-label">
              <input type="email"
                placeholder="Your email"
                required />
              <label>Your email</label>
            </div>
          </div>
          <div class="form-control">
            <div class="fluid-label">
              <textarea
                placeholder="What would you like to say?"
                required></textarea>
              <label>Your message</label>
            </div>
          </div>
          <div class="form-control">
            <input type="submit" value="Send" />
          </div>
        </form>
        <div class="other">
          <h2>Find me online</h2>

          <div class="links">
            <div class="social">
              <i class="fa fa-twitter"></i>
              <a href="https://twitter.com/atticoos"
                title="Follow Atticus on Twitter"
                target="_blank">@atticoos</a>
            </div>
            <div class="social">
              <i class="fa fa-linkedin"></i>
              <a href="https://www.linkedin.com/in/atticuswhite"
                title="Connect with Atticus White on LinkedIn"
                target="_blank">@atticuswhite</a>
            </div>
            <div class="social">
              <i class="fa fa-github"></i>
              <a href="https://github.com/ajwhite"
                title="Browse open source projects by Atticus White on Github"
                target="_blank">@ajwhite</a>
            </div>
          </div>

          <h2>My latest thought</h2>
          <div class="latest-post">
            <div>
              <a href="{{site.posts[0].url | prepend: site.baseurl}}">{{site.posts[0].title}}</a> - {{ site.posts[0].date | date: '%B %-d, %Y'}}
            </div>
            {{site.posts[0].excerpt}}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
