---
layout: default
featured_projects:
- tweetdrive
- microsoft-dreamhome
- tweetdrive
- microsoft-dreamhome
- tweetdrive
- microsoft-dreamhome
- tweetdrive
- microsoft-dreamhome
- tweetdrive
- microsoft-dreamhome
- tweetdrive
- microsoft-dreamhome
- tweetdrive
- microsoft-dreamhome
- tweetdrive
- microsoft-dreamhome
- tweetdrive
- microsoft-dreamhome
- tweetdrive
- microsoft-dreamhome
- tweetdrive
- microsoft-dreamhome
- tweetdrive
- microsoft-dreamhome
- tweetdrive
---

<div class="home">

  <section class="me">
    <div class="container">
      <h1>Hey, I'm Atticus.</h1>

      <h2 class="typed">Let's make <span></span></h2>

      <div class="circles">
        <div class="skills">
          <div class="circle">
            <span>Love to code</span>
          </div>
          <h2>My Skills</h2>
        </div>
        <div class="me">
          <div class="circle">
            <span>
              <a href="https://www.linkedin.com/in/atticuswhite"
                title="Connect with Atticus on LinkedIn"
                target="_blank"
                class="ln"><i class="fa fa-linkedin"></i></a>
              <a href="https://twitter.com/atticoos"
                title="Follow Atticus on Twitter"
                target="_blank"
                class="tw"><i class="fa fa-twitter"></i></a>
              <a href="https://github.com/ajwhite"
                title="See open source work by Atticus on Github"
                target="_bank"
                class="gh"><i class="fa fa-github"></i></a>
            </span>
          </div>
          <h2>Me</h2>
        </div>
        <div class="work">
          <div class="circle">
            <span>Can make cool things</span>
          </div>
          <h2>My Work</h2>
        </div>
      </div>

      <p>
        I'm a Boston based software developer. Lately I've been involved in many AngularJS projects, coming from experience as a full stack developer, mainly PHP and NodeJS, on platforms such as Laravel and Express. During my off hours I am also a WordPress developer and am always interested in working on WordPress solutions. Feel free to reach out.
      </p>
    </div>
  </section>

  <section class="skills collapsed">
    <div class="container">
      <h1 class="title">What I Do</h1>
      {% include home/skills.html %}
      </div>
    </div>

    <a href="#" class="more">More</a>
  </section>

  <section class="background">
    <h1>Featured Work</h1>
  </section>

  <section class="projects">
    {% include home/work.html %}
  </section>
  <section class="background">
    <h1>Open Source Projects</h1>
  </section>
  <section class="open-source">
    {% include home/open-source.html %}
  </section>
  <section class="background">
    <h1>Labs</h1>
  </section>
  <section class="labs">
    {% include home/labs.html %}
  </section>
</div>
